.navbar {
  background-color: var(--footer-color);
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
  border: solid #383838;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  transition: color 0.3s ease;
}

.button {
  background-color: var(--footer-color);
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 1em;
  display: flex;
}

.iconText {
  margin-left: 0.5rem;
  color: var(--primary-color);
  text-decoration: none;
}

.linkTo {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.iconText:hover {
  color: var(--secondary-color);
  text-shadow: var(--secondary-color) 1px 0 5px;
  cursor: pointer;
}

.customIcon {
  color: var(--primary-color);
}

@media screen and (max-width: 868px) {
  /* Estilos para el menú hamburguesa */

  .navbar {
    background-color: var(--footer-color);
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
    border: solid #383838;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .button {
    background-color: var(--footer-color);
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 1em;
    display: flex;
  }

  .iconText {
    margin-left: 0.5rem;
    color: var(--primary-color);
    text-decoration: none;
  }

  .linkTo {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s ease;
  }

  .iconText:hover {
    color: var(--secondary-color);
    text-shadow: var(--secondary-color) 1px 0 5px;
    cursor: pointer;
  }

  .customIcon {
    color: var(--primary-color);
  }

  @media screen and (max-width: 710px) {
    .navbar {
      background-color: #03060500;
      position: fixed;
      top: 75%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      right: 0;
      border: 0px;
    }

    .linkTo {
      text-decoration: none;
    }

    .button {
      display: flex;
      grid-column: span 1;
      margin: 0;
      align-items: center;
      padding: 10px;
      margin: 5px;
      background: none;
      border: none;
      cursor: pointer;
      color: inherit;
    }

    .customIcon {
      margin-right: 5px;
    }

    .iconText {
      display: none; /* Oculta el texto en pantallas pequeñas */
    }

    .customIcon {
      margin-right: 5px;
    }

    /* Estilos para el botón hamburguesa */
    .hamburger {
      display: flex;
      align-items: center;
      padding: 10px;
      margin: 5px;
      background: none;
      border: none;
      cursor: pointer;
      color: inherit;
    }

    .hamburger-icon {
      margin-right: 5px;
    }

    /* Estilos para el menú desplegable */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      right: 0; /* Alinea el menú a la derecha */
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown:hover .dropdown-content {
      display: block; /* Muestra el menú cuando se pasa el mouse */
    }
  }
}
